Class-16 Continuation

# Artificial Neural Network

In [15]:
# Import necessary packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import scale

In [4]:
# Data load
data = pd.read_csv('car_evaluation.csv')
data.head(2)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc

In [5]:
#basic checks
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null object
safety      1728 non-null object
outcome     1728 non-null object
dtypes: int64(2), object(5)
memory usage: 94.6+ KB

In [7]:
data.shape

(1728, 7)

In [8]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [11]:
# Define 
X = data.iloc[:,:-1] #X = data.iloc[:,:-1]
y = data.outcome

In [12]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(2)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2

In [19]:
X = scale(X)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=10)

In [139]:
model = MLPClassifier(hidden_layer_sizes=(40,50,40,40), random_state=10)

In [140]:
model.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(40, 50, 40, 40), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=10, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [141]:
y_predict = model.predict(X_test)

In [142]:
accuracy_score(y_test,y_predict)

0.9976851851851852

In [143]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       83     1      0      0
good       0    19      0      0
unacc      0     0    307      0
vgood      0     0      0     22