In [1]:
17/25

0.68

Class-19

pip install imblearn
pip install --upgrade

In [2]:
import pandas as pd
data = pd.read_csv('car_evaluation.csv')

In [3]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [4]:
X = data.iloc[:,:-1]
y = data.outcome

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [6]:
model = KNeighborsClassifier(n_neighbors=5)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
enc = LabelEncoder()

In [13]:
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head()

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0
3       3      3      2        2         1       1
4       3      3      2        2         1       2

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3,random_state=10)

In [15]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [16]:
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [17]:
from imblearn .over_sampling import SMOTE
smote = SMOTE()
X_train_smote, y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [19]:
from collections import Counter
print(Counter(y_train))
print(Counter(y_train_smote))

Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [23]:
60000/60

1000.0

In [24]:
1000/24

41.666666666666664

r2_score