Class-12

# Logistic Regression
- Regression says that it has to be continuous
- But what we do is classification
- Before the log it the values are continuous
- The ouput generated will be continuous

In [1]:
# Import packages
import numpy as np
import pandas as pd
import seaborn as sb
#from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
#from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
from matplotlib import rcParams
%matplotlib inline

In [2]:
# Load the  data
cars = pd.read_csv('mtcars.csv')
cars.head(2)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [3]:
# Basic Checks
cars.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [4]:
cars.shape

(32, 12)

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
car_model    32 non-null object
mpg          32 non-null float64
cyl          32 non-null int64
disp         32 non-null float64
hp           32 non-null int64
drat         32 non-null float64
wt           32 non-null float64
qsec         32 non-null float64
vs           32 non-null int64
am           32 non-null int64
gear         32 non-null int64
carb         32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [7]:
cars.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,19.875000,6.187500,227.925000,145.781250,3.553125,3.200375,17.821563,0.468750,0.437500,3.656250,2.718750
std,5.989184,1.712148,121.708557,67.540542,0.566628,0.992515,1.606035,0.507007,0.504016,0.745281,1.689328
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.425000,4.000000,120.250000,103.000000,3.070000,2.428750,16.892500,0.000000,0.000000,3.000000,1.000000
50%,18.650000,6.000000,225.000000,118.000000,3.660000,3.437500,17.900000,0.000000,0.000000,3.500000,2.000000
75%,21.825000,8.000000,307.500000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.220000,1.000000,1.000000,5.000000,8.000000

In [9]:
# Define X and y
# Car automatic or manual as my target/dependanr/outcome/response/y
# Using predictor variable/feature,dimensions/features/independant/X

X = cars.loc[:,['mpg','hp','wt']]
y = cars.am

In [10]:
X.head(2)

    mpg   hp     wt
0  21.0  110  2.620
1  21.0  110  2.875

In [11]:
y.head(2)

0    1
1    1
Name: am, dtype: int64

In [36]:
# Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10) # Test sizeis 30% and train size is 7%

In [37]:
print("X_train shape",X_train.shape)
print("X_test shape",X_test.shape)
print("y_train shape",y_train.shape)
print("y_test shape",y_test.shape)

X_train shape (22, 3)
X_test shape (10, 3)
y_train shape (22,)
y_test shape (10,)

In [38]:
0.7*32

22.4

In [39]:
# Define model
model = LogisticRegression()

In [40]:
# Train Model
model.fit(X_train,y_train)

C:\Users\vssan\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
# Predict
y_predict = model.predict(X_test)

In [42]:
accuracy_score(y_test,y_predict)

0.8

In [43]:
y_test

20    0
7     0
5     0
2     1
3     0
21    0
13    0
28    1
12    0
1     1
Name: am, dtype: int64

In [44]:
y_predict

array([1, 0, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [45]:
confusion_matrix(y_test,y_predict)

array([[5, 2],
       [0, 3]], dtype=int64)

In [46]:
pd.crosstab(y_test,y_predict)

col_0  0  1
am
0      5  2
1      0  3

0 = Manual and 1 = Automatic
Out of 7 cars 5 has predicted as manual and 2 is mis-predicted to be manual
Out of 3 cars 0 has mis-predicted as automatic and 3 is predicted to be automatic