Class - 14 Contiuation

In [1]:
# Import necessary Packages
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix
from collections import Counter

In [2]:
# Import data
data = pd.read_csv("car_evaluation.csv")
data.head(2)

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc

In [3]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [4]:
X = data.iloc[:,:-1]
y = data.outcome

In [5]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(2)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 10)

In [38]:
model = RandomForestClassifier(n_estimators=100,random_state=0)
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [39]:
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

0.9976851851851852

In [40]:
pd.crosstab(y_test,y_predict)

col_0    acc  good  unacc  vgood
outcome
acc       84     0      0      0
good       1    18      0      0
unacc      0     0    307      0
vgood      0     0      0     22

In [10]:
confusion_matrix(y_test,y_predict)

array([[ 83,   0,   0,   1],
       [  1,  18,   0,   0],
       [  2,   0, 305,   0],
       [  1,   1,   0,  20]], dtype=int64)